<a href="https://colab.research.google.com/github/DiegoJSG/Progamacao_em_Logica/blob/main/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27

print(idade1)
print(idade2)
print(idade3)

39
30
27

In [ ]:
idades = [39, 30, 27]

In [ ]:
type(idades)

list

In [ ]:
len(idades)

3

In [ ]:
24 in idades

False

In [ ]:
idades.insert(2,18)
idades

[39, 30, 18, 27]

In [ ]:
idades.extend([31,26])
idades

[39, 30, 18, 27, 31, 26]

In [ ]:
idades.extend(["diego"])
idades

[39, 30, 18, 27, 31, 26, 'diego']

In [ ]:
class ContaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>codigo {} saldo {} <<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_diego = ContaCorrente(15)
print(conta_do_diego)

[>>codigo 15 saldo 0 <<]

In [ ]:
conta_do_diego.deposita(200)
print(conta_do_diego)

[>>codigo 15 saldo 200 <<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_diego]
print(contas[0])
deposita_para_todas(contas)
print(contas[0])

[>>codigo 15 saldo 200 <<]
[>>codigo 15 saldo 300 <<]

In [ ]:
contas.insert(0,76)
print(contas[0])

76

In [ ]:
diego = ("Diego" , 29 , 1993)

In [ ]:
usuarios = [diego]
usuarios

[('Diego', 29, 1993)]

In [ ]:
usuarios.append(('Rose', 30 , 1992))

In [ ]:
usuarios

[('Diego', 29, 1993), ('Rose', 30, 1992)]

In [ ]:
usuarios [0]

('Diego', 29, 1993)

## **Herança e Polimorfismo**

In [ ]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod  
  def passa_o_mes(self):
    pass
  def __str__(self):
    return "[>>codigo {} saldo {} <<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

TypeError: ignored

In [ ]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupança(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento(764)

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>codigo 16 saldo 998 <<]

In [ ]:
conta17 = ContaPoupança(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>codigo 17 saldo 1007.0 <<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupança(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes()
  print(conta)

[>>codigo 16 saldo 998 <<]
[>>codigo 17 saldo 1007.0 <<]

## **evitaremos usar o array puro, se precisamos de trabalho numerico, costume usar o numpy**

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros +3

array([4. , 6.5])

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta1 == conta2

False

In [ ]:
contas = [conta1]
conta1 in contas

True

In [ ]:
conta2 in contas

False

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo
    
  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo
    
  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1.deposita(10)

In [ ]:
conta1 == conta2

False

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return false

    return self._codigo == outro._codigo and self._saldo == outro._saldo
    
  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [ ]:
conta1 == conta2

False

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(34), Conta)

False

In [3]:
idades = [15,87,32,65,56,32,49,37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [4]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [5]:
for indice, idade in enumerate(idades):
  print(indice, idade)

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [6]:
usuarios = [
    ("Diego", 29 , 1993),
    ("Rose", 30, 1992)
]
for usuario in usuarios:
  print(usuario)

('Diego', 29, 1993)
('Rose', 30, 1992)

In [7]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [8]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [9]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [10]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [11]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [12]:
idades.sort()

In [13]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [14]:
15<32

True

In [16]:
nomes = ["Diego", "Rose", "kiki"]
sorted(nomes)

['Diego', 'Rose', 'kiki']

In [17]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo
    
  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [19]:
conta_do_diego = ContaSalario(17)
conta_do_diego.deposita(500)

conta_da_rose = ContaSalario(3)
conta_da_rose.deposita(1000)

contas = [conta_do_diego, conta_da_rose]

In [20]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [21]:
sorted(contas)

TypeError: ignored

In [25]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [26]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [30]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo


  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [32]:
conta_do_diego = ContaSalario(17)
conta_do_diego.deposita(500)

conta_da_rose = ContaSalario(3)
conta_da_rose.deposita(1000)

contas = [conta_do_diego, conta_da_rose]

In [33]:
conta_do_diego < conta_da_rose

True

In [34]:
conta_do_diego > conta_da_rose

False

In [38]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [39]:
for conta in sorted(contas,reverse=True):
  print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 17 Saldo 500<<]

In [40]:
conta_do_diego = ContaSalario(1700)
conta_do_diego.deposita(500)

conta_da_rose = ContaSalario(3)
conta_da_rose.deposita(1000)

conta_do_kiki = ContaSalario(133)
conta_do_kiki.deposita(500)

contas = [conta_do_diego, conta_da_rose,conta_do_kiki]

In [41]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [42]:
conta_do_diego = ContaSalario(1700)
conta_do_diego.deposita(500)

conta_da_rose = ContaSalario(3)
conta_da_rose.deposita(500)

conta_do_kiki = ContaSalario(133)
conta_do_kiki.deposita(500)

contas = [conta_do_diego, conta_da_rose,conta_do_kiki]

In [43]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [50]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [51]:
conta_do_diego = ContaSalario(1700)
conta_do_diego.deposita(500)

conta_da_rose = ContaSalario(3)
conta_da_rose.deposita(500)

conta_do_kiki = ContaSalario(133)
conta_do_kiki.deposita(500)

contas = [conta_do_diego, conta_da_rose,conta_do_kiki]

In [52]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [53]:
conta_do_diego = ContaSalario(1700)
conta_do_diego.deposita(500)

conta_da_rose = ContaSalario(3)
conta_da_rose.deposita(1000)

conta_do_kiki = ContaSalario(133)
conta_do_kiki.deposita(500)

contas = [conta_do_diego, conta_da_rose,conta_do_kiki]

In [54]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [64]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [65]:
conta_do_diego = ContaSalario(1700)
conta_do_diego.deposita(500)

conta_da_rose = ContaSalario(3)
conta_da_rose.deposita(1000)

conta_do_kiki = ContaSalario(133)
conta_do_kiki.deposita(500)

contas = [conta_do_diego, conta_da_rose,conta_do_kiki]

In [66]:
conta_do_diego <= conta_da_rose

True

In [67]:
conta_do_diego <= conta_do_kiki

False